<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpContextBinding>
                <binding name="BasicHttpBinding_Reports.asmx" maxBufferPoolSize="2147483647"
                      maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </basicHttpContextBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.83:8086/Reports.svc" binding="basicHttpContextBinding"
                bindingConfiguration="BasicHttpBinding_Reports.asmx" contract="ReportsService.Reportsasmx"
                name="BasicHttpBinding_Reports.asmx" />
        </client>
    </system.serviceModel>
</configuration>